<div class="banner">
  <div class="banner-content">
    <h1>Magic Cocktails</h1>
    <p>best way to cool up hot Berlin!</p>
<!--     <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>
